# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: p1nrgy add-on
version: "0.0.4"
slug: p1nrgy
description: p1nrgy add-on
url: "https://github.com/erwindouna/p1nrgy-addon"
arch:
  - aarch64
  - amd64
init: false
map:
  - share:rw
options:
  message: "Hello world..."
schema:
  message: "str?"
image: "ghcr.io/erwindouna/p1nrgy"
