# https://developers.home-assistant.io/docs/add-ons/configuration#add-on-config
name: p1nrgy
version: "0.0.4"
slug: p1nrgy
description: p1nrgy add-on to read data from a p1nrgy smart meter and publish it to MQTT
url: "https://github.com/erwindouna/p1nrgy-addon"
arch:
  - aarch64
  - amd64
init: false
services:
  - mqtt:need
map:
  - share:rw
uart: true
usb: true
options:
  dsmr_enabled: true
  dsmr_mode: "serial"
  dsmr_serial_device: "/dev/ttyUSB0"
  dsmr_serial_baud: 115200
  dsmr_serial_databits: 8
  dsmr_serial_parity: "N"
  dsmr_serial_stopbits: 1
schema:
  dsmr_enabled: bool
  dsmr_mode: str
  dsmr_serial_device: "device(subsystem=tty)"
  dsmr_serial_baud: int
  dsmr_serial_databits: int
  dsmr_serial_parity: str
  dsmr_serial_stopbits: int
image: "ghcr.io/erwindouna/p1nrgy" # TODO: Uncomment this line to use a prebuilt image
